/* You can add global styles to this file, and also import other style files */
.side-by-side {
	display: flex;
	flex-direction: columns;
	justify-content: space-around;
}

.thumbnail {
	width: 6vw;
	height: auto;
}

.text {
	font-size: .8em;
}

.inventory {
	padding: 5px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid grey;
}
