<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Delivery</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>

		<h1>Order Delivery Details</h1>

		<form method="POST" data-th-action="@{/pizza/order}" data-th-object="${delivery}">
			<table>
				<tr>
					<td>Name:</td>
					<td>
						<input type="text" size="30" placeholder="Your name" data-th-field="*{name}">
						<div data-th-if="${#fields.hasErrors('name')}">
							<span data-th-errors="*{name}" data-th-errorclass="error"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Address:</td>
					<td>
						<input type="text" size="30" placeholder="Your address" data-th-field="*{address}">
						<div data-th-if="${#fields.hasErrors('address')}">
							<span data-th-errors="*{address}" data-th-errorclass="error"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>
						<input type="tel" size="30" placeholder="Your contact number" data-th-field="*{phone}">
						<div data-th-if="${#fields.hasErrors('phone')}">
							<span data-th-errors="*{phone}" data-th-errorclass="error"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Rush:</td>
					<td>
						<input type="checkbox" data-th-field="*{rush}">
					</td>
				</tr>
				<tr>
					<td>Comments:</td>
					<td>
						<textarea cols="30" rows="5" placeholder="Any comments for us?" data-th-field="*{comments}"></textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" formmethod="GET" formaction="/">Cancel Order</button>
						<button type="submit">Place Order</button>
					</td>
				</tr>
			</table>
		</form>
		
	</body>
</html>
