<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of Show Types</title>
    </head>
    <body>

        <h1>Show Types</h1>

        <h2 data-th-each="t: ${showTypes}">
            <a data-th-href="@{/tvshow/type/{type}(type=${t})}">
                <span data-th-text="${t}"></span>
            </a>
        </h2>
        
    </body>
</html>