<app-count [startNum]="3" (valueChanged)="newValue($event)"></app-count>

<app-numlist [numImages]="pics"></app-numlist>
<app-numlist ></app-numlist>

<!--
<h1>{{ title }}</h1>

<h1 [style.color]="textColour" (mouseenter)="cursorEntered()" (mouseleave)="cursorExit()">
  {{ title }}
</h1>

<app-hello message="{{ title }}"></app-hello>

<app-hello [message]="title"></app-hello>

<app-hello></app-hello>

<div>
  Text: <input type="text" [placeholder]="title" [disabled]="disabled"
      (keypress)="newInputValue($event)">
  <button type="button" (click)="toggleInput()" >Toggle Input Box</button>
</div>

-->
